<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="innolotus_nexus" value="https://nexus.ds01.lablotus.com/repository/innolotus/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
    <packageSource key="innolotus_nexus">
      <package pattern="InnoLotus.*" />
      <package pattern="Banyan.*" />
      <package pattern="NPS.*" />
      <package pattern="Ivy.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
